<form method="post" action="{% url 'userapp:login' %}">
    {% csrf_token %}
    아이디 : <input type="text" name="id"><br>
    비밀번호 : <input type="text" name="pw"><br>
    <input type="submit" value="로그인">

    
</form>
<!-- {% if request.session.id %}
    <a href="{% url 'userapp:login' %}">
       {{ request.session.name }} 님 반갑습니다. (로그아웃)
    </a>
<button id = 'signupBtn' onclick="location.href='/user/signup'">회원가입</button>
{% else %}
    <p>아이디와 비밀번호를 다시 확인하세요</p>
    <button id = 'signupBtn' onclick="location.href='/user/signup'">회원가입</button>
{% endif %}  -->

<button id = 'signupBtn' onclick="location.href='/user/signup'">회원가입</button>