{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
<script src="{% static 'bootstrap/css/bootstrap.min.css'%}"></script>
<div class="container">
    <div class="row mt-5">
        <form method="post" action="{% url 'userapp:login' %}">
            {% csrf_token %}
            <div class="form-group">
            아이디 : <input type="text" name="id"><br>
            </div>
            <div class="form-group">
            비밀번호 : <input type="text" name="pw"><br>
            <input type="submit" value="로그인">
            </div>  
        </form>
    </div>
</div>

<!-- {% if request.session.id %}
    <a href="{% url 'userapp:login' %}">
       {{ request.session.name }} 님 반갑습니다. (로그아웃)
    </a>
<button id = 'signupBtn' onclick="location.href='/user/signup'">회원가입</button>
{% else %}
    <p>아이디와 비밀번호를 다시 확인하세요</p>
    <button id = 'signupBtn' onclick="location.href='/user/signup'">회원가입</button>
{% endif %}  -->

<button id = 'signupBtn' onclick="location.href='/user/signup'">회원가입</button>