<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>My page</h1>

    <h1>아이디 :{{profile.id}}</h1>
    <h1>패스워드 : {{profile.pw}}</h1>
    <h1>이름 :{{profile.name}}</h1>
    <h1>이메일 : {{profile.mail}}</h1>
    <h1>신고 : {{profile.reportCnt}}</h1>
    <h1>생일 :{{profile.birth}}</h1>

    <button id='updateBtn' type="button" onclick="location.href='/user/update/'">수정</button>
</body>
</html>
