{% extends 'boardapp/base.html' %}

{% block title %}Index page{% endblock %}

{% block content %}
<style>
	.card {
		padding: 10px;		
	}

	.card h3 {
		font-family: none;
	} 
</style>
<h2>마이페이지</h2>
{% load static %}

{% block head_title %}{{ profile.name }} | Mypage {% endblock head_title %}



<div class="container-fluid mt-5">
  <div class="row">
    <div class="card col-lg-6 offset-lg-3 mb-3">
      <div class="row" >
        
        

        <div class="card-body" >
            <table style="color:black; margin-left:10px;">
                <tr>
                    <div style="text-align: center;">
                        <h1>수정이 완료되었습니다.</h1>
                    </div>
                </tr>
                
                
            </table>

            <hr>
            <div style="text-align: center;">
            <!-- <div style="margin-left: 10px;"> -->
                
                <a href="{% url 'userapp:profile' %}" style="color:#d14040f2; font-size:15px;"><i class="fas fa-user-edit"></i>&nbsp;프로필</a>
                /
                <a href="{% url 'boardapp:home' %}" style="color:#d14040f2; font-size:15px;"><i class="fas fa-user-slash"></i>&nbsp;home</a> <br>
            </div>
      </div>
    </div>
  </div>
</div>

{% endblock  %}





{% comment %} {% extends 'boardapp/base.html' %}

{% block title %}Index page{% endblock %}

{% block content %}
<style>
	.card {
		padding: 10px;		
	}

	.card h3 {
		font-family: none;
	} 
</style>
<h2>마이페이지</h2>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>My page</h1>

    <h1>수정이 완료되었습니다.</h1>
    
    <button id='updateBtn' type="button" onclick="location.href='/user/profile/'">프로필</button>
    <button id='updateBtn' type="button" onclick="location.href='/board/home/'">홈으로</button>
</body>
</html>

{% endblock  %} {% endcomment %}
