{% extends 'boardapp/base.html' %}
{% load board_filter %}
{% block title %}Index page{% endblock %}

{% block content %}
<div class='search' style="float:right; margin:10px;">
	<input id='searchText' type='text' placeholder='Search'>
	<button id='searchBtn' type='submit'> 검색 </button>
</div>

<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>번호</th>
            <th>제목</th>
			<th>작성자</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% if not board %}
		<tr>
			<td colspan='4' style="text-align:center">
				게시물이 없습니다.

			</td>
		</tr>
		{%else%}
        {%for item in board %}
				<tr>
					<td>{{item.postNum}}</td>
					<td>
						<a style="color:#000000" {%if request.session.id %} href="{% url 'boardapp:detail' item.postNum %}" {%else%} href = '/user/login/' onclick="alertAccess()" {%endif%} >
							{{item.title}}
						</a>
                        <span> [{{ item.reply_set.count }}] </span>
					</td>
					<td>
						<a style="color:#000000" {%if request.session.id %} href="{% url 'userapp:userinfo' item.id_id %}" {%else%} href = '/user/login/' onclick="alertAccess()" {%endif%} >
							{{item.id_id}}
						</a>
					</td>
					<td>{{item.pub_date}}</td>
				</tr>
		{%endfor%}
        {% endif %}
        </tbody>
    </table>
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if board.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ board.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        
        {% for page_number in board.paginator.page_range %}
        {% if page_number >= board.number|add:-5 and page_number <= board.number|add:5 %}    
            {% if page_number == board.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if board.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ board.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <a class="btn btn-primary" {%if request.session.id %} href="{% url 'boardapp:write' %}" {%else%} href = '/user/login/' onclick="alertAccess()" {%endif%}>
        질문 등록하기
    </a>



    <script>
        function alertAccess() {
            alert("로그인 후 이용 가능합니다.")
        }
        // document.getElementById("searchBtn").addEventListener("click", () => {
        //     document.getElementById("searchText").setAttribute("value",document.getElementById("searchText").value);
        // });
    </script>
{% endblock  %}