{% extends 'boardapp/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Candy</title>
</head>
<body>
    <div class="container pt-3">
        <div class="row">
            <!-- left content -->
            
            <div class = "col-md-6">
                <div class="card" style="width: 22rem;">
                    <img src="/static/image/ktlogo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">면접 스터디 구인</h5>
                      <p class="card-text">최고의 효율로 취업뽀개자</p>
                      <a href="/board/home" class="btn btn-outline-info">스터디 모집 바로가기</a>
        
                    </div>
                </div>
            </div>
            <!-- right content -->
            <div class = "col-md-6">
                <div class="card" style="width: 22rem;">
                    <img src="/static/image/2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">기업별 면접 공유</h5>
                      <p class="card-text">다양한 합격 사례를 통해 취뽀!</p>
                      <a href='/board/share' class="btn btn-outline-info">기업별 면접 공유</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div> <!-- footer -->
</body>
</html>

{% endblock  %}
