{% extends 'boardapp/sharebase.html' %}

{% block boardhead %}
    <table class="table">
        <thead  class="thead-inverse">
            <tr>
                <th>작성자</th>
                <th>제목</th>
                <th>조회수</th>
                <th>댓글수</th>
                <th>작성일자</th>
            </tr>
        </thead>

        <tbody>
            {% for topic in topics %}
            <tr>
                <td>{{topic.writter}}</td>
                {% comment %} <td>
                    <a style="color:#000000" {%if request.session.id %} href="{% url 'boardapp:detail1' topic.id %}" {%else%} href = '/user/login/' onclick="alertAccess()" {%endif%} >
                        {{topic.subject}}
                    </a>
                </td> {% endcomment %}
                <td>{{topic.subject }}</td>
                <td>0</td>
                <td>0</td>
                <td>{{topic.last_updated}}</td>
            </tr>
            {% endfor %}

        </tbody>
      
    </table>

    <div class="mb-4">
        <a href='/board/new/' class="btn btn-info"><b>글 작성</b></a>
    </div> 

{% endblock %}