{% extends  'boardapp/sharedetailview.html' %} 

{% block boardhead %}
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
<div class="col-lg-8 align-self-end">
    <h1 class="text-white font-weight-bold">{{ topics.subject }}</h1>
    {% comment %} <h1 class="text-white font-weight-bold">{{ topics.message }}</h1> {% endcomment %}
    <hr class="divider" />
</div>

<div class="col-lg-8 align-self-baseline">
    <p class="text-white-75 mb-5">{{topics.message}}</p>
    {% if blog.images %}
                <img src="{{ topics.file.url }}" width="500" height="500">
    {% endif %}
    <br>
    {% comment %} <a href="{% url 'boardapp:update' boardapp.postNum %}">수정</a>
	<a href="{% url 'boardapp:delete' boardapp.postNum %}">삭제</a> {% endcomment %}
    <a class="btn btn-primary btn-xl" href='/board/new'>글 작성하기</a>
    {% comment %} <a class="btn btn-primary btn-xl" href='/board/replys'>댓글 쓰기</a> {% endcomment %}
    
</div>

 {% comment %} <div class="col-lg-8 align-self-baseline">
    <p class="text-white-75 mb-5"><input type ="text" class ="title" name = "topics.subject" value= "{{ topics.subject }}" readonly/></p>
    <textarea class ="content" name= "topics.message" readonly>{{topics.message}} </textarea>
</div>  {% endcomment %}
{% endblock %}